*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* *은 전체선택자로 태그 요소들의 마진과 패딩을 0으로 설정(기본은 0.5em이 적용돼있음 */
#container{
    width: 1000px;
    margin: 0 auto;
}
header{
    width: 100%;
    /* 또는 너비생략가능 이럴 때는 자동으로 본문을 978px로 계산 */
    /* padding 각 10px(20px), border 각 1px(2px)의 값을 기존 header값에서 빼줘서 여백이 없게끔 만든다 */
    /* height: 100px; */
    border: 1px solid #ccc;
    padding: 10px;
}
section{
    width: 620px; 
    height: 600px;
    border: 1px solid #ccc;
    padding: 10px;
    float: left;
}
aside{
    width: 320px; 
    height: 600px;
    border: 1px solid #ccc;
    padding: 10px;
    float: right;
}
footer{
    width: 100%;
    /* 또는 너비생략가능 이럴 때는 자동으로 본문을 978px로 계산 */
    /* padding 각 10px(20px), border 각 1px(2px)의 값을 기존 header값에서 빼줘서 여백이 없게끔 만든다 */
    /* height: 100px; */
    border: 1px solid #ccc;
    padding: 10px;
    clear: both;
}